@import "tailwindcss";

html {
  @apply bg-[#191919];
}

body {
  @apply max-w-[560px] mx-auto min-h-dvh text-[#9B9B9D]   bg-[#191919] text-[14px];
}

* {
  font-family: "Rubik", sans-serif;
}

.xanimate {
  transition: all 0.3s ease-in-out;
}
